img {
    /* display: none; */
    transition: 1s;
    transform-origin: top center;
}

div:hover img {
    display: block;
    animation: highlights 1s forwards;
}

img:hover {
    /*opacity: 0.25;*/
    
}

@keyframes slide {
    0% {
        /* transform: translate(0,0) rotate(0);  */
        transform: scaleY(0);
    }

    50% {
        /* transform: translate(300%, 50%) rotate(90deg); */
    }

    100% {
        /* transform: translate(100%, 37%) rotate(-90deg); */
        transform: scaleY(1);
    }
}

@keyframe open-menu {

}

@keyframes highlights {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.05, 1.05);
    }
}